body {
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
}

.content {
    flex: 1;
}

.roses img {
    height: 400px; /* Adjust the height as needed */
    width: auto;
}

.left,
.right {
    display: flex;
    align-items: center;
}

.left {
    order: -1;
}

.right {
    order: 1;
}

.heart-container {
    display: inline-block;
    margin-bottom: 20px;
}

.heart {
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    position: relative;
    transform: rotate(45deg);
    animation: beat 1s infinite alternate;
}

.heart:before,
.heart:after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: #e74c3c;
    border-radius: 50%;
    position: absolute;
}

.heart:before {
    top: -50px;
    left: 0;
}

.heart:after {
    top: 0;
    left: 50px;
}

@keyframes beat {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

h1 {
    color: #e74c3c;
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}

p:last-child {
    margin-bottom: 40px;
}
